.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}

.alternate {
    box-sizing: border-box;
}


.parent{
    border: 2px solid blue;
    display:flex;
  }
  .child{
    border: 2px solid red;
    margin:20px;
    padding:20px;
    width:100px;
  }